body{padding:0px; margin:0px; font-family: 'Roboto Condensed' , sans-serif !important;}

/* Nav bar css Start */
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
	
}
.navbar-brand { position: relative; z-index: 2; }
.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto; }
.navbar .navbar-collapse { position: relative; }
.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }
.nav1 {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    box-shadow: 0px 2px 4px #ddd;
    padding: 7px 0px;
	margin-bottom:0px !important;
	border:none;
    border-radius: 0px;
}
.logo {
    margin-left: 0px !important;
	padding: 0px 0px !important;
    height: 0px;
    display: inline-table;
}
#navbar-collapse-1 .menu {
    margin-top: 20px;
}
.menu li a {
	padding:6px 11px !important;
	color:#999;
}
.logo_img {
    display: block;
    width: auto;
    height: 70px;
}
.menu > li > a:focus, .menu > li > a:hover {
    color: #000 !important;
	background: #eee !important;
}
.menu > li > a.active{
	color: #fff;
	background: #4591cd;
}
header{
    text-align: center;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
header.sticky {
    position: fixed;
    font-size: 17px;
    width: 100%;
    text-align: left;
    z-index:9999;
}
.drop{
	font-size:18px;
	color:#999;
}
.drop li a:hover{
	background:#4591cd;
	color:#fff;
}			
/* Nav bar css End */		

/* page section css start */		
.section{
	width:100%;
	float:left;
	margin-top:30px;
}
.section ul{
	width:100%;
	list-style:none;
	margin:0px;
	margin-left: -24px;
}
.section ul li{
	float:left;
}
.section ul li a{
	color:#000;
	font-size:17px;
	text-decoration:none;
}
.section ul li a:hover{
	color:#4591cd;
}
.section ul li a.active3{
	color:#4591cd;
}
.section i {
    margin-right: 4px;
    font-size: 19px;
    color: #000;
	margin-left: 4px;
}
/* section css end */

/* pagination css Start */
.pagination-centered {
    text-align: right;
	margin-top:10px;
}
.pagination {
    margin: 20px 0;
}
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #fff;
    background-color: #4591cd;
    border-color: #4591cd;
}
a:focus, a:hover {
    color:none;
    text-decoration: none;
}
/* Pagination css end */

/* banner css start 
.slider{
	background:url(../images/slider-8.png) no-repeat ;
	width:100%;
	float:left;
	background-size:contain;
	height:auto;
	padding: 10% 0px;
}
.slider_opacity{
	background:rgba(46,46,46,0.3);
	width:100%;
	float:left;
	padding: 10% 0px;
	background-size:contain;
}
.slider h1 {
    font-size: 60px;
    color: #f5f5f5;
}
.slider h2 {
    font-size: 40px;
    color: #f5f5f5;
}
banner css end */

/* slider css start */
.carousel-inner{
    background:url(../images/slider-1.png);
}
.opacity1{
	background:rgba(46,46,46,0.9);
	width:100%;
	float:left;
}
.WhiteText{
    color:#fff;
	font-size:50px;
}
.active4{
	color:#4591cd;
}
.slider_btn {
    display: inherit;
    width: 100%;
    margin-top: 7%;
	background:#4591cd;
	border:none;
	padding: 8px;
}
.YellowText{
    color:#fff;
	font-size:30px;
}
.spacer-md{
    padding-top:50px;
    padding-bottom:50px;  
}
/* Make the slide sections move at different speeds */
.slide-delay-1 {
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        -ms-animation-delay: 0.2s;
}
.slide-delay-2 {
        -webkit-animation-delay: 0.5s;
        -moz-animation-delay: 0.5s;
        -o-animation-delay: 0.5s;
        -ms-animation-delay: 0.5s;   
}
 /* ED MOD */
.carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
  background:rgba(46,46,46,0.7);
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 15%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 23%, #207cca 24%, #2989d8 32%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(23%,#207cca), color-stop(24%,#207cca), color-stop(32%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* IE10+ */
background:none;/* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.carousel-control.right {
  left: auto;
  right: 0; 
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 23%, #207cca 24%, #2989d8 32%, #7db9e8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(23%,#207cca), color-stop(24%,#207cca), color-stop(32%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1e5799 0%,#207cca 23%,#207cca 24%,#2989d8 32%,#7db9e8 100%); /* IE10+ */
background: none; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.carousel-control:hover,
.carousel-control:focus {
  outline: none;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #4591cd;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #4591cd;
}
.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
	display:block;
  }
}

.become_btn {
    background: #4591cd;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 2%;
    float: left;
    width: 48%;
    text-align: center;
	margin-left: 10px;
}
.become_btn1{
    background: none;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 2%;
    float: left;
    width: 48%;
    text-align: center;
	margin-left: 10px;
	border:1px solid #999;
}
.become_btn1:hover{
    background: #f5f5f5;
	color:#000;
	text-decoration:none;
	transition:0.5s;
}
.become_btn:hover{
    background: #f5f5f5;
	color:#000;
	text-decoration:none;
	transition:0.5s;
}
.become_btn2 {
    background: #4591cd;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    float: left;
    width: 49%;
    text-align: center;
	margin-right: 2%;
	margin-top:2%;
}
.become_btn3{
    background: #f5f5f5;
    font-size: 20px;
    padding: 1% 0;
    color: #000;
    border-radius: 5px;
    float: left;
    width: 49%;
    text-align: center;
	border:1px solid #999;
	margin-top:2%;
}
.become_btn2:hover{
    background: #1d74b9;
	color:#fff;
	text-decoration:none;
	transition:0.5s;
}
.become_btn3:hover{
    background: #1d74b9;
	color:#fff;
	text-decoration:none;
	transition:0.5s;
}

.user_loginmain{
	width:100%;
	float:left;
	background:#f5f5f5;
	padding:2% 0% 2% 0%;
	box-shadow: 0px 2px 4px #ddd;
}
.user_login{
	width:100%;
	float:left;
	border:1px solid #ddd;
	border-radius:8px;
	padding: 2% 10% 5% 10%;
	background: #fff;
}
.user_login h2{
	font-size:32px;
	color:#4591cd;
	font-weight: 400;
}
.user_login p{
	font-size:20px;
	margin-top: -10px;
}

/* slider css end */
.hr_line{
    background: #4591cd;
    width: 6%;
    height: 3px;
    margin-top: 0px;
	display: none;
}
.padding_top-bottom{
	padding:5% 0% 5% 0%;
}
.clean{
	width:100%;
	float:left;
}
.clean h1{
	font-size:32px;
	color:#4591cd;
	font-weight: 400;
}
.clean p{
	font-size:17px;
	color:#686868;
	line-height:30px;
}
.clean img{
	margin-top:4%;
	margin-right:2%;
}
.clean_btn {
    display: block;
    width: 26%;
    margin-top: 4%;
    background: #4591cd;
    border: none;
    padding: 10px 0px;
    font-size: 20px;
}
.clean_phone{
	width:100%;
	float:left;
}
.clean_phone img {
    border: 1px solid #ddd;
    box-shadow: 0px 1px 4px #999;
}
.clean_share{
	width:100%;
	float:left;
}
.clean_like {
    margin-top: 3%;
    background: #577fbc;
    border: none;
	padding: 3px 8px;
}
.middle{
	background:url(../images/fg.png) fixed;
	width:100%;
	float:left;
	margin-bottom: 1%;
}
.middle_opacity{
	background:rgba(243,243,243,0.9);
	width:100%;
	float:left;
	padding:2% 0;
}
.middle h1{
	font-size:32px;
	color:#4591cd;
	font-weight: 400;
}
.middle p{
	font-size:17px;
	color:#686868;
	line-height:30px;
}
.work_h1 {
    text-align: center;
    font-size: 32px;
	color:#4591cd;
	margin-top:3%;
	font-weight: 400;
}
.work_p {
    text-align: center;
    font-size: 18px;
	padding-bottom:2%;
}
.work {
    width: 100%;
    text-align: center;
    float: left;
	padding-bottom:6%;
}
.work h2{
	font-size:20px;
	color:#000;
	font-weight: 400;
}
.work p{
	font-size:16px;
	color:#686868;
}
.work img{
	transition: -webkit-transform 0.7s;
}
.work img:hover{
	transform: rotateY(180deg);
}
.testimonial_h1 {
    text-align: center;
    font-size: 32px;
	color:#4591cd;
	font-weight: 400;
}
.testimonial_p {
    text-align: center;
    font-size: 18px;
	padding-bottom:2%;
}
.testimonial_main{
	background:url(../images/slider4.jpg) fixed;
	width:100%;
	float:left;
	margin-top: 3%;
}
.testimonial_opacity{
	background:rgba(243,243,243,0.9);
	width:100%;
	float:left;
	padding:2% 0 0% 0;
}
.testimonial{
    text-align: center;
	padding-bottom: 4%;
}
.testimonial .pic{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: 0 auto 40px;
    border: 4px solid #eb7260;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    color: #686868;
    font-size: 15px;
    font-style: italic;
    line-height: 24px;
    margin-bottom: 20px;
	width: 80%;
	margin-left: 9%;
}
.testimonial .testimonial-prof{
    margin:20px 0;
}
.testimonial .title{
    font-size: 20px;
    color: #4591cd;
    margin-right: 20px;
    text-transform: capitalize;
}
.testimonial .title:after{
    content: "";
    margin-left: 30px;
    border-right: 1px solid #808080;
}
.testimonial .testimonial-prof small{
    display: inline-block;
    color: #32404b;
    font-size: 17px;
    text-transform: capitalize;
}
.owl-theme .owl-controls .owl-buttons div{
    background: transparent;
    opacity: 1;
}
.owl-buttons{
    position: absolute;
    top: 8%;
    width: 100%;
}
.owl-prev{
    position: absolute;
    left:30%;
}
.owl-next{
    position: absolute;
    right:30%;
}
.owl-prev:after,
.owl-next:after{
    content: "\f060";
    font-family: 'FontAwesome';
    width: 28px;
    height: 28px;
    font-size: 16px;
    color:#808080;
    transition: all 0.15s ease 0s;
}
.owl-next:after{
    content: "\f061";
}
.download{
	padding:4% 0% 1% 0%;
}
.download h1 {
    font-size: 29px;
    color: #4591cd;
    margin-top: 3%;
    line-height: 40px;
	font-weight: 400;
}
.download p {
    font-size: 16px;
	color:#686868;
}
.download img {
    margin-right: 1%;
	margin-left:1%;
    margin-top: 2%;
}
/* footer css start */
.footer_main{
	background:url(../images/fg.png) fixed;
	width:100%;
	float:left;
	margin-top:2%;
}
.footer_opacity{
	background:rgba(46,46,46,0.9);
	width:100%;
	float:left;
	padding: 4% 0 3% 0;
}
.footer_main i {
    font-size: 18px;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 12px;
    width: 4%;
    margin-right: 1%;
	color:#fff;
	cursor:pointer;
}
.footer_main i:hover{
	background:#f5f5f5;
	color:#525252;
	transition:0.5s;
}
.footer_main a {
    font-size: 17px;
    color: #fff;
    border-right: 1px solid #fff;
    padding:0 1% 0% 1%;
    margin-top: 2%;
    display: inline-block;
}
.footer_main p {
    margin-top: 2%;
    color: #fff;
}
/* footer css end */
/* HOME PAGE CSS END */

/* login and Sign Up Page css start */
.login_form{
	background:url(../images/login1.png);
	width:100%;
	float:left;
}
.font_weight{
	font-weight:500;
	font-size:15px;
}
.provider_h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1%;
	font-size: 22px;
	margin-bottom: 3%;
	font-weight: 400;
}
.login_input {
    width: 100%;
	height:44px;
}
button[type="submit"].login_btn {margin-top:1%;}
.login_btn {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
	margin-top:1%;
	background:#4591cd !important;
	border:none !important;
	height:44px;
	color:#fff;
}
.login_text {
    text-align:center;
	padding-bottom:1%;
	margin-top:7%;
	color:#4591cd;
	font-size:36px;
}
.account {
	text-align:center;
	padding-top:6%;
}
.login_with {
	text-align:center;
	padding-top:4%;
	padding-bottom:2%;
}
.login_facebook {
    background: #3a559f;
    color: #fff;
    width: 7%;
    border-radius: 50%;
    padding: 15px;
    font-size: 21px !important;
    text-align: center;
    margin-right: 2%;
	cursor:pointer;
}
.login_google {
    background: #c23323;
    color: #fff;
    width: 7%;
    border-radius: 50%;
    padding: 15px;
    font-size: 21px !important;
    text-align: center;
    margin-right: 2%;
	cursor:pointer;
}
.login_twitter {
    background: #19bfe5;
    color: #fff;
    width: 7%;
    border-radius: 50%;
    padding: 15px;
    font-size: 21px !important;
    text-align: center;
    margin-right: 1%;
	cursor:pointer;
}
.login_twitter:hover{
	background:#383737;
	transition:0.5s;
}
.login_google:hover{
	background:#383737;
	transition:0.5s;
}
.login_facebook:hover{
	background:#383737;
	transition:0.5s;
}
.signup_msg {
    color: #999;
    font-size: 14px;
	font-weight: 500;
}
.verify_header {
    font-size: 28px;
    color: #4591cd;
}
.verify_popup {
    padding: 0% 12% 5% 12%;
}
.verify_btn {
   /* width: 25%;*/
    margin-top: 5%;
    background: #4591cd;
    border: none;
    font-size: 17px;
}
.verify_btn:hover{background: #4591cd;}
.verify_popup_p {
    font-size: 18px;
    display: inline-block;
    margin-top: 4%;
	color:#999;
	padding-bottom: 4%;
}

.forgot {
    background: #fff;
    width: 100%;
    float: left;
    margin-top: 11%;
    padding: 10% 3%;
    box-shadow: 0px 2px 4px #999;
    margin-bottom: 10%;
}
.login_text1 {
    text-align: center;
    padding-bottom: 1%;
    margin-top: 0%;
    color: #4591cd;
    font-size: 36px;
}
.forgot p {
    padding-bottom: 3%;
}
/* login and Sign Up Page css end */

/* dashboard css start */
.new_order{
	width:100%;
	float:left;
	background:#ef764c;
	box-shadow:1px 2px 4px #ddd;
	padding:0px 0px 0px 0px;
	margin-top:2%;
	margin-bottom: 4%;
}
.new_color{
	background:#4591cd;
}
.new_color1{
	background:#00c0ef;
}
.new_color3{
	background:#01619b;
}
.new_icon{
	float:left;
	margin-top:5%;
	font-size:70px !important;
	margin-right: 3%;
	color: rgba(0, 6, 5, 0.2);
}
.date_icon {
    float: none !important;
    font-size: 18px !important;
}
.new_order h1{
	float:left;
	font-size:24px;
	color:#fae0d3;
	margin-left:5%;
	margin-top: 8%;
}
.new_h3 {
    font-size: 22px;
	padding-top: 2%;
	color:#484848;
	margin-left:1%;
	font-weight: 400;
}
.new_order h2 {
    background: rgba(0, 6, 5, 0.2);
    display: inline-block;
    width: 100%;
	margin-bottom: 0;
	text-align: center;
	padding: 8px 0px 8px 0px;
	font-size: 18px;
	color:#fae0d3;
	font-weight: 400;
}
.jk-slider{
    width:100%;
}
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 36px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
	color: #ddd;
	font-weight: 400;
}
.hero h3{
	font-weight: 400;
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .8;
}
/* dashboard css end */

.nav-sidebar { 
    width: 100%;
    padding: 0px 0; 
    border: 1px solid #ddd;
	background: #fff;
	box-shadow: 0px 1px 1px #ddd;
	margin-bottom: 8%;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
	font-weight: 500;
	font-size:16px;
	border-bottom: 1px solid #ddd;
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #4591cd; 
    color: #fff; 
	font-size:17px;
}
.nav-sidebar .active a:hover {
    background-color: #4591cd;   
}
.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #4591cd;
	color:#fff;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}
.btn-blog {
    color: #ffffff;
    background-color: #E50000;
    border-color: #E50000;
    border-radius:0;
    margin-bottom:10px
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white;
    background-color:#4591cd;
    border-color: #080d15;
} 
.table > tbody > tr > td {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
	font-size: 16px;
}
.add_item.pull-right {
    background: #4591cd;
    color: #fff;
    border: none;
    padding: 9px 45px;
}

.count-input {
  position: relative;
  max-width: 125px;
  margin-left:33%;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input .incr-btn-update {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn-update:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}
.service_heading2{
	margin-top:4px;
}
.add_heading {
    font-size: 26px;
    color: #000;
	border-bottom: 1px solid #eee;
	padding-bottom: 1%;
	font-weight: 400;
}

/* Choose Laundry Page css Start */
.exchange h1{
	font-size:25px;
	color:#000;
	font-weight: 400;
}
.exchange_img {
	margin-top:-2%;
}
.exchange p{
	font-size:18px;
	color:#999;
	margin-left:3%;
}
.exchange h2 {
    margin-left: 2%;
    font-size: 45px;
    color: #999;
}
.exchange span{
	font-size:18px;
	color:#999;
	float:right;
}
.exchange h4 {
    font-size: 18px;
    text-decoration: underline;
    margin-left: 3%;
	display: inline-block;
	color:#4591cd;
	font-weight: 400;
}
.balance{
	background:#f5f5f5;
	width:100%;
	float:left;
}
.balance h3 {
    font-size: 20px;
    padding: 0px 0px 11px 15px;
    border-bottom: 1px solid #eee;
    margin-top: 1%;
	color: #000;
	font-weight: 400;
}
.balance i {
    margin-right: 2%;
    font-size: 29px;
    margin-top: -3px;
    color: #999;
}
button[type="submit"].exchange_btn {
    background: #4591cd;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 4%;
    float: left;
    width: 100%;
    text-align: center;
	border:none;
}
.exchange_btn {
    background: #4591cd;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 4%;
    float: left;
    width: 100%;
    text-align: center;
	border:none;
}
.exchange_btn:hover{
	background:#1d74b9;
	text-decoration:none;
	color:#fff;
	transition:0.5s;
}
.clean_btn:hover{
	background:#1d74b9;
	text-decoration:none;
	color:#fff;
	transition:0.5s;
}
.hr_line1 {
    width: 100%;
    display: inline-block;
    margin: 0px;
}
.exchange_user {
    font-weight: 400;
    font-size: 16px;
    margin-top: -13px !important;
	margin-left: 6%;
    display: inherit;
}
/* Choose Laundry Page css End */

/* Bundle Offer to Placed Order css */
.bundle_offer h1 {
    text-align: center;
    font-size: 30px;
    color: #4591cd;
	margin: 0px;
	border-bottom: 1px solid #eee;
    padding-bottom: 1%;
	font-weight: 400;
}
.bundle_bg {
    background: #f5f5f5;
	width:100%;
	float:left;
	border: 1px solid #ddd;
	padding: 12px 12px;
	margin-bottom: 1%;
}
.bundle_bg h2 {
    background: #fff;
    font-size: 25px;
    padding: 7px 0px 7px 15px;
	margin-top:0px;
	font-weight: 400;
}
.bundle_bg h3 {
    margin-left: 2%;
    font-size: 21px;
    background: none;
    border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	font-weight: 400;
}
.bundle_bg p {
    font-size: 18px;
    margin-left: 5%;
    color: #999;
}
.bundle_offer h2 {
    background: #f5f5f5;
    font-size: 25px;
    padding: 7px 0px 7px 15px;
	margin-top:0px;
	font-weight: 400;
}
.bundle_offer h6 {
    background: #f5f5f5;
    font-size: 17px;
    padding: 7px 0px 7px 15px;
	margin-top:0px;
	font-weight: 400;
}
.bundle_offer p {
    font-size: 18px;
    margin-left: 5%;
    color: #999;
}
.offer_p {
    font-size: 20px !important;
    color: #000 !important;
    text-align: center;
    margin-left: 0px !important;
    margin-top: 1%;
    padding-bottom: 1%;
	font-weight: 400;
}
.service_heading3{
	margin-top:-8px;
}
.bundle_offer small {
    font-size: 14px;
    margin-left: 3%;
    color: #999;
	padding-bottom:1%;
	display:inline-block;
}
.bundle_bg small {
    font-size: 14px;
    margin-left: 3%;
    color: #999;
	padding-bottom:1%;
	display:inline-block;
}
.bundle_bg strong{
	float:right;
	margin-right:20%;
}
.modal_main {
    width: 25%;
    margin-top: 10%;
}
.bundle_body {
    padding: 10% 0% 20% 0%;
    width: 78%;
    margin: 0 auto;
}
.bundle_popup_p {
    font-size: 20px;
    color: #999;
}
.bundle_popup_btn {
    background: #4591cd;
    font-size: 17px;
    padding: 7px 10px 7px 10px;
    color: #fff;
    border-radius: 5px;
    margin-top: 5%;
    float: left;
    margin-right: 1%;
    margin-left: 0%;
}
.invoice_tabelwidth{
	width:33%;
	font-size: 18px;
	font-weight: 600;
}
.invoice_tabelwidth1{
	width:35%;
	font-size: 18px;
	font-weight: 600;
}
.invoice_tabelwidth2{
	width:25%;
	font-size: 18px;
	font-weight: 600;
}
.invoice_tabelwidth3{
	width:25%;
	font-size: 18px;
	font-weight: 600;
}
.invoice_tabelwidth4{
	width:15%;
	font-size: 18px;
	font-weight: 600;
}
.invoice_tablepadding{
	padding-left:1% !important;
}
.invoice_delete {
    border: 1px solid #ddd;
    padding: 3px;
    color: red;
	cursor:pointer;
}
.invoice_font{
	font-weight:600;
}
.additem_btn {
    float: right;
    border: 1px solid #4591cd;
    border-radius: 10px;
    padding: 7px 30px;
    font-size: 17px;
}
.invoice_edit {
    border: 1px solid #ddd;
    padding: 3px;
    color: #4591cd;
	cursor:pointer;
}
.bundle_offer h4 {
    font-size: 20px;
    margin-left: 5%;
    color: #000;
	font-weight: 400;
}
.bundle_offer img {
    margin-left: 5%;
	margin-top: -8px;
}
.offer_btn {
    background: #4591cd;
    font-size: 20px;
    padding: 1% 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 2%;
    float: left;
    width: 49%;
    text-align: center;
	margin-left: 10px;
}
.offer_btn:hover{
	background:#1d74b9;
	text-decoration:none;
	color:#fff;
	transition:0.5s;
}
.bundle_offer h5 {
    font-size: 21px;
    color: #4591cd;
    font-weight: 400;
}
.schedule_form{
	width:50%;
}
.schedule_btn {
    background: #ccc;
    font-size: 18px;
    padding: 11px 0;
    border-radius: 5px;
    margin-top: 2%;
    float: left;
    width: 100%;
    text-align: center;
    color: #000;
}
.schedule_p {
    font-size: 20px !important;
    color: #000 !important;
    margin-left: 0px !important;
    padding-bottom: 1% !important;
}
.schedule_check {
    margin-bottom: 2%;
    font-size: 17px;
}
.invoice_check {
    margin-bottom: 3%;
    font-size: 16px;
	margin-left: 10%;
}
/* Bundle Offer to Placed Order css */

/* Track Order css Start */
.track_order{
	width:100%;
	float:left;
	border-bottom:1px solid #eee;
	padding-bottom:1%;
	margin-top:1%;
}
.track_order h5 {
    font-size: 17px;
    margin-left: 1%;
    padding-bottom: 5px;
    color: #242323;
	font-weight: 400;
}
.track_order p{
	font-size:16px;
	color:#999;
	margin-left:1%;
	margin-top: -7px;
}
.track_order small{
	float:right;
}
.track_h6 {
    font-size: 27px !important;
    text-align: center;
}
.track_change h4 {
    font-size: 20px;
    margin-left: 0%;
    color: #000;
	font-weight: 400;
}
.track_change img {
    margin-left: 0%;
	margin-top: -8px;
}
.track_change1 img {
    margin-left: 25%;
	margin-top: 13px;
}
.track_change p{
	margin-left:0%;
}
.change_history{
	width:100%;
	float:left;
	border:1px solid #ddd;
	background:#fff;
	margin-top:2%;
	padding-bottom: 2%;
}
.change_history h2 {
    background: #f5f5f5;
    font-size: 25px;
    padding: 9px 0px 15px 15px;
	margin-top:0px;
	font-weight: 400;
}
.history small{
	float:right;
}
.history p {
    font-size: 18px;
    margin-top: 4px;
    color: #363535;
}
.history_btn {
    background: #f5f5f5;
    width: 100%;
    padding: 4px 0px;
    font-size: 16px;
}
.history{
	width:100%;
	float:left;
	border-bottom:1px solid #ddd;
	padding-bottom: 1%;
	margin-bottom: 1%;
	margin-top: 1%;
}
.receive_h2 {
    background: #f5f5f5;
    padding: 9px 0px 12px 15px;
    margin-top: 0px;
    font-size: 23px;
	font-weight: 400;
}
.track_rating {
    width: 100%;
    border: 1px solid #999;
    height: 107px;
    border-radius: 5px;
}
.rating_p {
    margin-top: 1%;
    color: #999;
    padding-bottom: 5%;
}
/* Track Order css End */

/* profile page css start */
.edit_profile{
	text-align:center;
	margin-top:8%;
}
.edit_profile img {
    width: 160px;
    height: 160px;
}
.edit_form{
	margin-top:2%;
}
.edit_margin{
	margin-top:3px;
}
.edit_height{
	height:42px;
}
.upload {
    width: 40%;
    background: #fff;
    padding: 2px;
    border-radius: 8px;
    border: 2px solid #9f8f7f;
    margin-top: 4%;
	margin-bottom: 4%;
    text-align: center;
    margin-left: 30%;
}
.fileContainer {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.fileContainer [type="file"] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.edit_updatebtn {
    background: #4591cd;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    float: left;
    width: 100%;
    text-align: center;
}
.deactive_btn {
    background: #fb5559;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    float: left;
    width: 100%;
    text-align: center;
}
/* profile page css end */

/* My Favourite Provider css start */
.favourite_padding {
    padding-bottom: 4%;
}
.comments {
    width: 100%;
    float: left;
    padding: 1%;
    background: #f5f5f5;
    margin-top: 5px;
	box-shadow: 0px 2px 3px #ddd;
}
.comments h4{
	font-size:22px;
	color:#000;
	font-weight: 400;
	margin-left:1%;
}
.comments p{
	font-size:16px;
	color:#999;
	margin-left:1%;
}
.comments small{
	float:right;
	margin-right: 1%;
}
/* My Favourite Provider css end */

/* Setting page css start */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider1:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider1 {
  background-color: #2196F3;
}
input:focus + .slider1 {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider1.round {
  border-radius: 34px;
}
.slider1.round:before {
  border-radius: 50%;
}
/* Setting Page css end */

/* Support page css start */
.support{border: 1px solid #eee; padding: 18px; margin-top: 5%;}
.support h2 { border-bottom: 1px solid #eee; padding-bottom: 1%; font-size: 24px; text-align: center;margin-top: 0px;font-weight: 400;}
.support_img { border: 1px solid #eee; text-align: center; padding: 18px; margin-top: 5%;}
.support_img p{font-size:18px;color:#999;line-height:30px;text-align:center;margin-top:4%;}
.support_img img{width:60%;height:auto;}
/* Support page css end */

/* Reward page css start */
.reward {border: 1px solid #eee; text-align: center; padding: 18px; margin-top: 2%;}
.reward p{font-size:18px;color:#999;line-height:30px;text-align:center;}
.reward h1 {font-size: 45px;font-weight: 600;margin-top: 3%;margin-bottom: 3%;font-weight: 400;}
.reward h3 { font-size: 20px;margin-top: 4%;}
/* Reward page css end */

/* Provider modify css start */
.pending_order {font-size: 18px;color:#337ab7;font-weight: 500;}
.pending_order1 {margin-top: 7px !important;text-align: center;}
.pending_small {font-size: 14px; margin-top: 4px;}
.pending_btn { background: #4591cd; font-size: 20px; padding: 1% 0; color: #fff; border-radius: 5px;margin-top: 2%; float: left; width: 49%; text-align: center; border: none;}
.pending_btn:hover{background:#1d74b9;text-decoration:none;color:#fff;transition:0.5s;}
.provider_invoice_p{color:#f52424 !important;}
.discount_btn { background: #4591cd; font-size: 17px; padding: 3% 0; color: #fff; border-radius: 3px; margin-top: 2%; float: left; width: 100%; text-align: center; border:none;}
.discount_btn:hover{background:#1d74b9;text-decoration:none;color:#fff;transition:0.5s;}
.create_package {font-size: 25px;font-weight: 400;}
.addcart_btn { padding: 7px 20px;}
.verify_popup1 { padding: 0% 15% 5% 15%;}
.verify_popup1 p {font-size: 20px;display: inline-block;margin-top: 4%;color: #000;}
.invoice_check1 { margin-bottom: 3%; font-size: 16px;border-bottom: 1px solid #eee;padding-bottom: 2%;}
.popup_padding { margin-top: 7%;}
.margin_left{margin-left:3% !important;}
/* provider modify css end */

/* provider my account css start */
.provider_account{width:100%;float:left;border-bottom:1px solid #eee;padding-bottom:1px;}
.provider_heading { font-size: 21px;color: #000;background: #f5f5f5;padding: 8px 10px 8px 10px;margin-bottom: 3px;margin-top: 0px;width: 100%;display: inline-block;}
.account1 {text-align: right;}
.deactive_btn1 { background: #fb5559;background-color: rgb(251, 85, 89);font-size: 20px;color: #fff; border-radius: 5px; float: left; width: 100%; text-align: center; margin-top: 4%;border: none;}
.deletion_btn { background: #4591cd; font-size: 17px; padding: 7px 35px 7px 35px; color: #fff; border-radius: 5px; margin-top: 5%; float: left; margin-right: 1%; margin-left: 1%;}
.deactive_btn1:hover{background:#fb393e ;text-decoration:none;color:#fff;transition:0.5s;}
.deactive_btn1:focus{background:#fb393e ;text-decoration:none;color:#fff;transition:0.5s;}
/*.upload1 { width: 50%; background: #fff; padding: 2px; border-radius: 8px; border: 2px solid #9f8f7f;margin-top: 4%; margin-bottom: 4%; text-align: center; margin-left: 26%;}
.edit_profile1 img { width: 100%; height: 300px;}*/
.provider_account h3 { margin-left: 3%; font-size: 19px; color: #000; margin-top: 5px;font-weight: 400;}
.provider_account h5 {margin-left: 3%;font-size: 16px;font-weight: 400;}
.provider_account p {margin-left: 3%; font-size: 15px;}
.provider_subscription{width:30%;float:left;}
.provider_subscription1{width:70%;float:left;}
.provider_subscription1 h4 {font-weight: 400;}
.provider_line {border-bottom: 1px solid #ddd;padding-bottom: 2%;}
.decline_btn { background: #fb5559; font-size: 20px; padding: 1% 0; border: none; color: #fff; border-radius: 5px;margin-top: 2%; float: left; width: 48%; text-align: center; margin-left: 10px;}
.decline_btn:hover{background:#fb393e;text-decoration:none;color:#fff;transition:0.5s;}
/* provider my account css end */
.price_span{font-size:12px;}
.mar_top{margin-top:1%;}
.setting_h2 {font-size: 25px;margin-top: 1%;float: left;color: #000;margin-left: 1%;border-bottom: 1px solid #999;padding-bottom: 4px;font-weight: 400;}
.setting_check { margin-top: 4px !important; text-align: center;}
.setting_check1 {font-size: 18px;color: #383737;font-weight: 400;margin-right: 30%;}
.setting_span { font-size: 16px; margin-left: 1%; color: #999;}
.rangemain { margin-bottom: 2%; width: 100%; float: left;}
.range_popup{width:85%;float:left;}
.range_popup1{width:15%;float:left;}
.range_text { text-align: center; float: left; width: 100%; margin-bottom: 9%; font-size: 25px !important;font-weight: 400;}
.report_h2 {font-size: 25px;margin-top: 1%;color: #000;border-bottom: 1px solid #ddd;padding-bottom: 4px;display:block;margin-bottom: 2%;font-weight: 400;}
.report_generate {font-weight: 500;margin-right: 10%;}
.pending_select1 { margin-top: 9px !important; text-align: center;}
.pending_select {font-size: 20px;color: #383737;font-weight: 400;}
.location_slot {width: 100%;float: left;padding: 1%;background: #f5f5f5;margin-top: 5px;box-shadow: 0px 2px 3px #ddd;}
.location_slot p {font-size: 16px;color: #999;margin-left: 1%;margin-top: -7px;}
.location_slot h4 { padding-bottom: 1%; font-size: 20px;font-weight: 400;}
.Location_text{width:75%;float:left;}
.Location_button{width:25%;float:left;}
.location_btn {background: #4591cd;font-size: 20px;padding: 2% 0;color: #fff;border-radius: 5px;margin-top: 13%;float: left;width: 100%;text-align: center;}
.location_btn1 {background: #f5f5f5;font-size: 20px;padding: 2% 0;color: #000;border-radius: 5px; margin-top: 13%; float: left; width: 100%; text-align: center;border:1px solid #ddd;}
.comments h2 {font-size: 20px;color: #000;margin: 0px;padding: 7px 2px 7px 2px;font-weight: 400;}
.hours_span {float: right;margin-top:5px;}
.hours_small {float: right;margin-right: 2%;}
.comment {width: 100%;float: left;padding: 1%;background: #fff; margin-top: 5px; box-shadow: 0px 2px 3px #ddd;}
.comment h5{font-size:20px;color:#000;margin-left: 2% !important;margin: 0px;font-weight: 400;}
.panel-heading{cursor: pointer;   }
.panel-heading span {margin-top: -20px;font-size: 15px;}
.hour_width{width:54%;float: left;margin-right: 5px;}
.hour_width2{width:27%;float: left;margin-left: -6px;}
.hour_width1{width:48% !important; float:left;margin-right: 10px;}
.margin_buttons{margin-top:0px !important; margin-right: 6px;}
.hour_margin{margin-top:25px;}

@media only screen and (max-width: 479px){	
.slider h1 {font-size: 20px;margin: 0px;}
.slider h2 {font-size: 18px;margin: 0px;}
.owl-prev{left: 10%;}
.owl-next{right: 10%;}
.work {width: 100%;margin-bottom: 5%;}
.download h1 {font-size: 30px;}
.testimonial_h1 {font-size: 30px;}
.work_h1 {font-size: 30px;}
.middle h1 {font-size: 30px;}
.clean h1 {font-size: 30px;line-height: 40px}
.WhiteText {font-size: 30px;}
.YellowText {font-size: 20px;}
.clean_btn {width: 100%;}
.footer_main i{width:16%;}
.footer_main a {font-size: 11px;margin-top: 7%;}
.footer_main p {margin-top: 6%;}
.login_facebook {width: 16%;padding: 13px;}
.login_google {width: 16%;padding: 13px;}
.login_twitter {width: 16%;padding: 13px;}
small {padding-bottom: 5%;}
.clean_phone img{width:100%;height:auto;}
.clean_phone {padding-bottom: 10%;}
.nav-sidebar {margin-bottom: 5%;}
.exchange_btn {font-size: 16px;padding: 4% 0;margin-bottom: 10%;}
.hero h1 {font-size: 12px;}
.hero h3 {font-size: 9px;margin: 7px;}
.count-input { max-width: 80px; margin-left: 0%;}
.choose_search1 {width: 6%;margin-left: 10px;}
.choose_search {width: 88%;}
.exchange_img {margin-top: -10%;}
.exchange_user {margin-top: -18px !important; margin-left: 26%;}
.offer_btn {padding: 3% 0;width: 100%;margin-left: 0px;font-size: 17px;}
.invoice_check {margin-left: 0%;}
.schedule_btn {font-size: 14px;}
.schedule_check {margin-bottom: 7%;font-size: 14px;}
.bundle_offer p {font-size: 16px;}
.pending_btn {width: 100%;margin-left:0px;}
.decline_btn {width: 100%;margin-left: 0px;}
.provider_subscription1 h4 {font-size: 16px;}
.provider_subscription h4 {font-size: 16px;}
.provider_subscription1 {width:52%;}
.provider_subscription {width:48%;}
.account1 {text-align: left;}
.Location_button {width: 100%;float: left;}
.Location_text {width: 100%;float: left;}
.location_btn {margin-top: 1%;margin-bottom: 2%;}
.location_btn1 {margin-top: 1%;margin-bottom: 2%;}
.navbar-toggle {margin-top: 6%;margin-left: -8%;position:absolute;}
.become_btn1 {font-size: 14px;width: 100%;margin: 0px;display:none;}
.become_btn {font-size: 14px;width: 100%;margin: 0px;margin-bottom: 2%;display:none;}
.carousel-indicators {bottom: 20px;display:none;}
.bundle_bg p {font-size: 15px;margin-left: 5%;}
.bundle_bg h2 {font-size: 18px;}
.bundle_bg h3 {font-size: 17px;}
.invoice_tabelwidth1 {font-size: 15px;}
.invoice_tabelwidth2 {font-size: 15px;}
.invoice_tabelwidth3 {font-size: 15px;}
.invoice_tabelwidth4 {font-size: 15px;}
.bundle_popup_btn {padding: 5px 4px 5px 4px;font-size:12px;}
.modal_main {width: 93%;margin-top: 31%;}
.bundle_popup_p {font-size: 15px;}
.verify_btn {width: 48%;}
.discount_btn {margin-bottom: 7%;}
.deletion_btn {font-size: 12px; padding: 5px 4px 5px 4px;}
.popup_padding { margin-top: 35%;}
.provider_heading { width: 100%;}
.middle { margin-bottom: 10%;}
.middle_opacity { padding: 12% 0;}
.testimonial_main {margin-bottom: 10%;}
.footer_main {margin-top: 10%;}
.footer_opacity { padding: 10% 0 5% 0;}
.user_login {padding: 2% 2% 5% 2%;}
.middle img{width:100%;height:auto;}
.user_loginmain { padding: 9% 0% 9% 0%;}
.hour_width {width: 100%;}
.hour_width1 {width: 45% !important;}
.hour_width2 {width: 67%;margin-left: 0px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.navbar-toggle { margin-left: 30%;}
.sticky .navbar-default .navbar-toggle { margin-left: 70%;}
}


}

@media only screen and (min-width: 480px) and (max-width: 767px){
.slider h1 {font-size: 30px;margin: 0px;}
.slider h2 {font-size: 25px;margin: 0px;}
.footer_main a {margin-top: 7%;}
.footer_main p {margin-top: 6%;}
.footer_main i{width:10%;}	
.login_facebook {width: 11%;padding: 13px;}
.login_google {width: 11%;padding: 13px;}
.login_twitter {width: 11%;padding: 13px;}	
small {padding-bottom: 5%;}
.navbar-toggle {margin-top: 17px;margin-right: 0px;}
.clean_phone img{width:100%;height:auto;}
.clean_phone {padding-bottom: 10%;}
.clean_btn {width: 100%;		}
.hero h1 {font-size: 19px;}
.hero h3 {font-size: 12px;}
.nav-sidebar {margin-bottom: 5%;}
.exchange_btn {padding: 2% 0;margin-bottom: 10%;}
.count-input {margin-left: 17%;}
.choose_search1 {width: 6%;margin-left: 10px;}
.choose_search {width: 88%;}
.exchange_img {margin-top: -7%;}
.exchange_user {margin-top: -18px !important;margin-left: 16%;}
.offer_btn {padding: 2% 0;width: 100%;margin-left: 0px;}
.schedule_check {margin-bottom: 4%;font-size: 15px;}
.pending_btn {width: 100%;margin-left:0px;}
.decline_btn {width: 100%;margin-left: 0px;}
.provider_subscription1 {width:50%;}
.provider_subscription {width:50%;}
.account1 {text-align: left;}
.Location_button {width:30%; float: left;}
.Location_text { width: 70%; float: left;}
.location_btn { margin-top: 30%;font-size:18px;}
.location_btn1 { margin-top: 30%;font-size:18px;}
.become_btn1 { font-size: 14px; width: 100%; margin: 0px;}
.become_btn { font-size: 14px; width: 100%; margin: 0px;margin-bottom: 2%;}
.carousel-indicators { bottom: 20px;display:none;}
.bundle_popup_btn { font-size: 18px; padding: 5px 10px 5px 10px;}
.modal_main { width: 93%; margin-top: 31%;}
.bundle_popup_p { font-size: 15px;}
.verify_btn { width: 48%;}
.discount_btn { margin-bottom: 7%;}
.deletion_btn {font-size: 18px;padding: 5px 10px 5px 10px;}
.popup_padding {margin-top: 20%;}
.provider_heading {width: 100%;}
.user_login {padding: 2% 2% 5% 2%;}
.middle img{width:100%;height:auto;}
.middle_opacity {padding: 10% 0;}
.user_loginmain {padding: 7% 0% 7% 0%;}
.middle {margin-bottom: 8%;}
.hour_width {width: 100%;}
.hour_width1 {width: 47% !important;}
.hour_width2 {width:72%;margin-left: 0px;}

}

@media only screen and (min-width: 767px) and (max-width: 992px) {	
.slider h1 {font-size: 45px;margin: 0px;}
.slider h2 {font-size: 35px;margin: 0px;}	
.clean_phone img{width:100%;height:auto;margin:27% 0 0 0;}
.clean h1{font-size:25px;}
.clean p{font-size:14px;line-height:26px;}
.middle img{width:100%;height:auto;margin:21% 0 0 0;}
.middle h1 {font-size: 25px;}
.middle p {font-size: 14px;line-height: 26px;margin-bottom: 7px;}
.clean_btn {width: 32%;font-size: 17px;}
small {padding-bottom: 5%;}
.work_h1{font-size:25px;}
.work_p{font-size:14px;}
.work h2{font-size:18px;}
.work p{font-size:14px;}
.work img {width: 100%;}
.testimonial_h1 {font-size: 25px;}
.testimonial .description {font-size: 14px;}
.download h1 {font-size: 25px;line-height: 26px;}
.download_media {width: 57%;}
.footer_main i{width:6%;}
.nav > li > a {padding: 6px 6px;margin-top: 4px;}
.menu {margin-top: 3px;}
header {font-size: 13px;}
header.sticky {font-size: 13px;}
.hero h1 {font-size: 30px;}
.hero h3 {font-size: 18px;}
.count-input {margin-left: 26%;}
.exchange_img {margin-top: -4%;}
.exchange_user {margin-top: -18px !important;margin-left: 10%;}
.offer_btn {margin-left: 5px;}
.become_btn1 {font-size: 15px;width: 47%;}
.become_btn {font-size: 15px;width: 47%;}
.carousel-indicators {bottom: 20px;display:none;}
.hour_width {width: 58%;}
.hour_width1 {width: 47% !important;}


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {	
.slider h1 {font-size: 50px;margin: 0px;}
.slider h2 {font-size: 40px;margin: 0px;}
.nav > li > a {padding: 6px 5px;margin-top: 13px;}
header {font-size: 16px;}
header.sticky {font-size: 15px;}
.menu {margin-top: 3px;}
.drop{font-size:16px;}
.clean_phone img{width:100%;height:auto;margin:5% 0 0 0;}
.clean h1{font-size:34px;}
.clean p {font-size: 14px;line-height: 27px;}
.middle img{width:100%;height:auto;}
.middle h1{font-size:34px;}
.middle p{font-size: 14px;line-height: 27px;}
.work_h1{font-size:34px;}
.wotrk_p{font-size:14px;}
.work h2{font-size:18px;}
.work p{font-size:14px;}
.testimonial_h1 {font-size: 34px;}
.download h1 {line-height: 34px;}
.download p {font-size: 16px;}
.footer_main i{width:5%;}
.count-input {margin-left: 30%;}
.exchange_img {margin-top: -3%;}
.exchange_user {margin-top: -18px !important;margin-left: 8%;}
.offer_btn {margin-left: 5px;}


}

@media only screen and (min-width: 375px) and (max-width: 667px){
.footer_main i {width: 7%;}
.login_facebook {width: 8%;padding: 13px;}
.login_google {width: 8%;padding: 13px;}
.login_twitter {width: 8%;padding: 13px;}	
	
	
}

@media only screen and (max-width: 375px){
.footer_main i {width: 13% !important;}
.login_facebook {width: 14% !important;padding: 13px;}
.login_google {width: 14% !important;padding: 13px;}
.login_twitter {width: 14% !important;padding: 13px;}	
	
	
}

@media only screen and (min-width: 320px) and (max-width: 568px){
.footer_main i {width: 8%;}
.login_facebook {width: 9%;padding: 13px;}
.login_google {width: 9%;padding: 13px;}
.login_twitter {width: 9%;padding: 13px;}	
	
	
}

@media only screen and (max-width: 320px){
.footer_main i {width: 15% !important;}
.login_facebook {width: 16% !important;padding: 13px;}
.login_google {width: 16% !important;padding: 13px;}
.login_twitter {width: 16% !important;padding: 13px;}
	
	
}


/*@media screen and (-webkit-min-device-pixel-ratio:0) {
.navbar-toggle {
    margin-top: 6%;
	position:absolute;
    margin-left: -8%;
}
}*/



.table td > img {
    max-width: 160px;
    max-height: 160px;
}
input#update_image {
    float: right;
    position: absolute;
    top: 19px;
    right: 115px;
    display: none;
}

/* Cropit css start */
.cropit-preview {background-color: #f8f8f8;background-size: cover;border: 1px solid #ccc;border-radius: 3px;width: 70px;height: 70px;margin: 3% auto 0; border-radius: 50%;}
.cropit-preview-image-container {cursor: move;border-radius: 50%;}
.image-size-label {margin-top: 10px;}
input { display: block;}
button[type="submit"] {margin-top: 10px;}
#result {margin-top: 10px;width: 100%;}
#result-data {display: block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;word-wrap: break-word;}
.upload_btn {display: block;background: #4591cd;color:#fff;margin: 20px auto;border:none;}
.upload_btn:hover{background:#1d74b9;text-decoration:none;color:#fff;transition:0.5s;}
.upload1 {width: 40%;background: #fff;padding: 2px;border-radius: 8px;border: 1px solid #9f8f7f;margin: 3% auto;}
.account_img{width:70px; height:70px; border-radius: 50%;}
/* Cropit css end */

.price_items_table>thead>tr>th {border-bottom: 2px solid #ddd !important; background: #F5F5F5;}
.table-bordered>thead>tr>th {border-bottom: 2px solid #ddd !important; background: #F5F5F5;}
table.dataTable.price_items_table {border-bottom: 1px solid #ddd !important;border-collapse: collapse !important;}

.mar_top9{margin-top:19px;}
.provider_logo{width:70px;height:70px;}
.provider_logo h1 {vertical-align: middle;font-size: 25px;background: #fff;border-radius: 50%;color: #4591cd;display: inline-block;border: 4px solid #8babe8;padding: 17px;margin-top: 4px;}
.logo_img1 {width: 70px;height: 70px;border-radius:50%;}
/*header.sticky h1{margin-left:5px;}*/
.exit_btn { background: #4591cd;font-size: 20px;color: #fff; border-radius: 5px; float: left; width: 100%; text-align: center; margin-top: 4%;border:none;}
.exit_btn:hover{background:#1d74b9 ;text-decoration:none;color:#fff;transition:0.5s;}
.provider_specific_logo {margin-left: 0px !important;padding: 0px 0px !important;display: inline-block;position: relative;width: 70px;height: 70px;overflow: hidden;border-radius: 50%;}
.provider_specific_logo_img {width: 70px; height: 70px;}/*margin-left: -45px;*/

/* tap bar css start */
.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; font-size:16px;margin-right:10px;}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4591cd !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4591cd; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.card {background: #f5f5f5; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); }
.content_padding{padding:15px;background:#fff;}
/* tab bar css end */
.rating_fix {background:#4591cd;color:#fff;padding:10px;box-shadow:0px 2px 4px #eee;border-radius: 5px;}	
.fix_class {position: fixed;right: 9%;z-index:999;background:#4591cd;top: 15%; color:#fff; padding:10px; box-shadow:0px 2px 4px #eee;border-radius: 5px;}


.customer_image {background-color: #f8f8f8;background-size: cover;border: 1px solid #ccc;width: 160px;height: 160px;margin: 3% auto 0;}

form#add_customer .intl-tel-input.allow-dropdown {
    display: block;
    width: 100%;
}
form#add_customer input#phone {
    padding: 10px 10px 10px 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form#complete_signup .intl-tel-input.allow-dropdown {
    display: block;
    width: 100%;
}
form#complete_signup input#phone {
    padding: 10px 10px 10px 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
form#add_provider .intl-tel-input.allow-dropdown {
    display: block;
    width: 100%;
}
form#add_provider input#phone {
    padding: 10px 10px 10px 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag {
    width: 46px;
    height: 42px;
}
.verify_btnpopup { background: #fb5559; font-size: 20px; padding: 1% 0; color: #fff; border-radius: 5px;margin-top: 2%; float: left; width: 100%; text-align: center;border:none;}
.verify_btnpopup:hover{background:#fb393e;text-decoration:none;color:#fff;transition:0.5s;}
.add_heading1 {font-size: 26px;color: #000;border-bottom: 1px solid #eee;padding-bottom: 1%;font-weight:400;}
.add_heading2 {z-index:999;position: fixed;font-size: 26px;color: #000;font-weight: 400;top: 63px;width: 1111px;background: #fff;box-shadow: 0px 2px 2px #eee;padding:  12px 12px 7px 12px;border-bottom: 1px solid #ddd;}
.approve_btn { background: #4591cd; font-size: 20px; padding: 1% 0;margin-left:10px; color: #fff; border-radius: 5px;margin-top: 2%; float: left; width: 48%; text-align: center; border: none;}
.approve_btn:hover{background:#1d74b9;text-decoration:none;color:#fff;transition:0.5s;}
.bundle_offer strong {float: right;margin-right: 20%;}

/* Choose Laundry Page css Start */
.choose_searchbar1 {height: 44px;font-size: 18px;}
.choose_searchbar2 {width: 100%;height: 44px;margin-top: 1%;}
.choose_filter {margin-top: 24px;font-size: 30px !important;color: #999;}
.choose{width:100%;float:left;margin-top: 3%;margin-bottom:4%;box-shadow: 0px 3px 7px #ddd;border: 1px solid #ddd;}
.choose_imgbackgorund{text-align:center;background:#f5f5f5;}
.choose_img{margin-top:-2%;}
.choose h1{font-size:16px;color:#000;margin-top: 4%;padding-left: 2%;font-weight: 400;}
.choose small{float:right;color:#999 !important;padding-right: 2%;margin-top: 1%;font-size:15px;}
.choose p{font-size:16px;color:#999;margin-top: 3%;padding-left: 2%;}
.choose_search { width: 96%; float: left;}
.choose_search2 {width: 100%;float: left;}
.choose_search1 { width: 2%; float: left;}
/* Choose Laundry Page css End */

.containerdiv {border: 0;float: left;position: relative;width: 103px;height:10px;margin-bottom:5%;margin-left:2%;} 
.cornerimage {border: 0;position: absolute;top: 0;left: 0;overflow: hidden;max-width: 170px;} 
.cornerimage img{ max-width: 170px;height:18px;}
.rating_text{margin-left: 2%; margin-top: 1%; display: inline-block;}

#pac-input {background-color: #fff;font-family: Roboto;font-size: 15px;font-weight: 300;margin-left: 12px;padding: 0 11px 0 13px;text-overflow: ellipsis;width: 800px;}
#map {height: 400px;width:100%;}
#hearts { color: #ee8b2d;font-size:50px;}
#hearts-existing { color: #ee8b2d;}
#hearts1 { color: #ee8b2d;}


.not_verify_padding{padding:6px 12px; color:#fff;}
.not_verify_padding:hover, .not_verify_padding:focus{ color:#fff;}
.not_verify {background: #fb5559;color: #fff !important;border:1px solid #fb5559;}
.tick {background: #4CAF50;color: #fff;border:1px solid #4CAF50;cursor:pointer;}
.number_verify {font-size: 12px !important;margin-top: -7px;padding: 5px;}