/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2018, 4:35:48 PM
    Author     : DESTOP
*/

body{
    overflow-x: hidden;
    overflow-y: auto;
}
.navbar-brand {
    padding-top: 5px !important;
}
.navbar-brand img {
    height: 45px !important;
    width: 70px !important;
}
#content{
    min-height: 555px !important;
}
.heading_btn{
    padding: 3px 10px !important;
}
.btn{
    padding: 4px 12px !important;
}